version: '3.5'

#volumes:
#
#  dynamodb_data:

services:

  telemetry-server:
    container_name: telemetry-server
    restart: on-failure
    build: .
    command: yarn start
    env_file: .env
    volumes:
      - .:/home/node/app/
      - /home/node/app/node_modules/
    ports:
      - 1883:1883
    depends_on:
      - telemetry-server-mysql
    environment:
      PORT: 1883
#      LOCAL_DYNAMODB_HOST: http://telemetry-server-dynamodb:8000
      MYSQL_HOST: telemetry-server-mysql
      MYSQL_USER: root
      MYSQL_PASSWORD: root
      MYSQL_DATABASE: cropiot
    external_links:
      - telemetry-server-mysql
    network_mode: bridge

  telemetry-server-mysql:
    container_name: telemetry-server-mysql
    image: mysql:8
    restart: on-failure
    ports:
      - 3306:3306
    environment:
        MYSQL_ROOT_PASSWORD: root
        MYSQL_PASSWORD: root
        MYSQL_USER: root
        MYSQL_DATABASE: cropiot
    network_mode: bridge

#  telemetry-server-dynamodb:
#    container_name: telemetry-server-dynamodb
#    image: amazon/dynamodb-local
#    restart: on-failure
#    command: -jar DynamoDBLocal.jar -sharedDb -dbPath /home/dynamodblocal
#    volumes:
#      - dynamodb_data:/home/dynamodblocal
#    ports:
#      - 8042:8000
#    network_mode: bridge
